<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBGZ6Gz1jKt3cElNLg4RzmRYJnyeeWapNI</string>
	<key>GCM_SENDER_ID</key>
	<string>72922155204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cryptoCoinsList</string>
	<key>PROJECT_ID</key>
	<string>crypto-list-app-42abc</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-list-app-42abc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:72922155204:ios:837b13f16d58b043856191</string>
</dict>
</plist>